body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-box {
    width: 360px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.forgot-password{
    width: 360px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-top: 0;
    color: #262626;
}

h2{
    text-align: center;
    margin-top: 0;
    color: #262626;
}

h3{
    text-align: center;
    margin-top: 0;
    color: #262626; 
}

form label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #999;
}

form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
}

input[type='button'] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #0095f6;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

p {
    text-align: center;
    font-size: 14px;
    color: #999;
    margin-top: 15px;
}

.para-2 {
    text-align: center;
    color: #999;
    font-size: 14px;
    margin-top: 15px;
}

.para-2 a {
    color: #0095f6;
    text-decoration: none;
}